<section class="home section" id="home">
    <div class="home__container container grid">
        <div class="home__data">
            <span class="home__greeting">Привет , меня зовут</span>
            <h1 class="home__name">Дмитрий</h1>
            <h2 class="home__education">Frontend Developer</h2>
            <div class="home__buttons">
                <a download="" href="/pdf/Belov_Dmitriy.pdf" class="button button--ghost">
                    Скачать CV
                </a>
                <a href="#about" class="button">Обо мне</a>
            </div>
        </div>
        <div class="home__handle">
            <picture>
                <source  srcset="/img/pepe-great-post-transparent-png-132317.webp" type="image/webp">
                
                
                <img src="../../img/pepe-great-post-transparent-png-132317.png" alt="" class="home__img">
            </picture>
            <div class="about__data">
        </div>
        <div class="home__social">
            <a href="https://www.linkedin.com/in/dmitriy-belov-a37b6b243/" target="_blank" class="home__social-link"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://github.com/DmitriyBelov98" target="_blank" class="home__social-link"><i class='bx bxl-github'></i></a>
            <a href="https://t.me/soul_m8" target="_blank" class="home__social-link"><i class='bx bxl-telegram' ></i></a>
        </div>
        <a href="#about" class="home__scroll">
            <i class='bx bx-mouse home__scroll-icon' ></i>
            <span class="home__scroll-name">Прокрутить</span>
        </a>
    </div>
</section>