
<section class="work section" id="work">
    <span class="section__subtitle">Моё портфолио</span>
    <h2 class="section__title">Мои работы</h2>
    <div class="work__filters">
        <span class="work__item active-work" data-filter="all">All</span>
        <span class="work__item" data-filter=".frontend">Frontend</span>
        <span class="work__item" data-filter=".backend">Backend</span>
        <span class="work__item" data-filter=".something">Something</span>
    </div>
    <div class="work__container container grid">
        <div class="work__card mix frontend">
            <picture>
                <source  srcset="/img/beats.webp" type="image/webp">
                
                <img src="../../img/beats.jpg" alt="beats" class="work__img">
            </picture>
            <h3 class="work__title">Headphones Landing</h3>
            <a href="https://main--celadon-pudding-db6277.netlify.app/" target="_blank" class="work__button">
                Demo <i class='bx bx-right-arrow-alt work__icon'></i>
            </a>
        </div>
        <div class="work__card mix frontend">
            <picture>
                <source  srcset="/img/tic-tac-toe.webp" type="image/webp">
                <img src="../../img/tic-tac-toe.jpg" alt="tic-tac-toe picture" class="work__img">
            </picture>
            <h3 class="work__title">Крестики нолики</h3>
            <a href="https://tic-tac-toe-game-kappa-vert.vercel.app/" target="_blank" class="work__button">
                Demo <i class='bx bx-right-arrow-alt work__icon'></i>
            </a>
        </div>
        <div class="work__card mix backend">
            <picture>
                <source  srcset="/img/work3.webp" type="image/webp">
                
                <img src="../../img/work3.jpg" alt="content page picture" class="work__img">
            </picture>
            <h3 class="work__title">Блог</h3>
            <a href="https://cryptic-sierra-34820.herokuapp.com/" target="_blank" class="work__button">
                Demo <i class='bx bx-right-arrow-alt work__icon'></i>
            </a>
        </div>
        <div class="work__card mix something">
            <picture>
                <source  srcset="/img/work4.webp" type="image/webp">
                
                <img src="../../img/work4.jpg" alt="test" class="work__img">
            </picture>
            <h3 class="work__title">Авторизация и сессии</h3>
            <a href="https://murmuring-wave-26827.herokuapp.com/" target="_blank" class="work__button">
                Demo <i class='bx bx-right-arrow-alt work__icon'></i>
            </a>
        </div>
    </div>
</section>